<%- include('partials/header') %>

<div class="container mb-5">
	<div class="row">
		<div class="col-md-12">
			<div class="heading">
				<h1 class="text-center">Search Result Page</h1>
				<a href="/" class=" btn search-again ml-5">Search Again!!</a>
			</div>
			<div class="well">Total Results - <span><b><%= data['totalResults'] %></b></span></div>
		</div>
		<% data["Search"].forEach((movie)=>{ %>
			<div class="col-md-6 col-lg-3">
				<div class="card">
					<img class="card-img-top" src="<%if(movie['Poster'] == 'N/A'){%><%}else{%><%= movie['Poster'] %><%}%>" alt="<%= movie['Title'] %>.jpg">
					<div class="card-body text-dark">
						<h4 class="title"><%= movie['Title'] %> <span class="year"><h5>(<%= movie['Year'] %>)</h5></span></h4>
						<div>
							<p><strong>Type - </strong><em class="text-uppercase font-weight-bold"><%= movie['Type'] %></em></p>
						</div>
						<p>
							<a href="/search/<%= movie['imdbID']%>" class = "btn btn-primary"> More Info</a>
						</p>
					</div>
				</div>
			</div>
		<% }) %>
	</div>
<!-- 	<a href="/search" class="btn btn-danger">Page 2</a> -->
	<a href="/" class=" btn search-again">Search Again!!</a>
</div>

 

 
