<!DOCTYPE html>
<html>
<head>
	<title>Show Page</title>
</head>
<body>
	<ul>
		<% for(let key in data){ %>
			<li><% if(key == "Ratings"){ %><strong><%= key %></strong>
				<ul>
					<% data[key].forEach((rating)=>{ %>
						<li>
						<% for(let x in rating){ %>
								<strong><%= x %></strong> - <%= rating[x] %>	
						<%} %>		
						</li>				
					<%}) %>
				</ul>
			<% }else{ %>
				<strong><%= key %></strong> - <%= data[key] %>
			<% } %>
			</li>
		<% } %>
	</ul>
</body>
</html>